<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="Quản lý công việc"
            sequence="0"/>
          
        <menuitem name="Công việc" 
            id="menu_cong_viec" 
            parent="menu_root" 
            sequence="1"
            action="action_cong_viec" />

        <menuitem name="Công việc con" 
            id="menu_cong_viec_con" 
            parent="menu_root" 
            sequence="2"
            action="action_cong_viec_con" />

        <menuitem name="Thời gian làm việc" 
            id="menu_ghi_nhan_thoi_gian" 
            parent="menu_root" 
            sequence="3"
            action="action_ghi_nhan_thoi_gian" />

        <menuitem name="Đánh giá công việc" 
            id="menu_danh_gia_cong_viec" 
            parent="menu_root" 
            sequence="4"
            action="action_danh_gia_cong_viec" />
       
    </data>
</odoo>
